[submodule "3rd-party/fmt"]
	path = 3rd-party/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "3rd-party/googletest"]
	path = 3rd-party/googletest
	url = git@github.com:google/googletest.git
[submodule "3rd-party/backward-cpp"]
	path = 3rd-party/backward-cpp
	url = git@github.com:bombela/backward-cpp.git
[submodule "3rd-party/fmtlog"]
	path = 3rd-party/fmtlog
	url = git@github.com:MengRao/fmtlog.git
[submodule "3rd-party/result"]
	path = 3rd-party/result
	url = git@github.com:oktal/result.git
[submodule "3rd-party/abseil-cpp"]
	path = 3rd-party/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
